body
{
	margin: 50px 5%;
	background-color: #F5F5F5;
}

#headline
{
	text-align: center;
}

#payoff
{
	text-align: center;

}

.header ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;	
}

.header li
{
	float: left;
	border-right: 1px solid #bbb;
}

.header li:last-child
{
	border-right: none;
}
.header a
{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.header a:hover
{
	background-color: #111;
}

.MainContent img
{
	float: right;
	width: 10%;
}

.MainContent h3
{
	clear: both;
}